In [17]:
"""Import all dependencies"""

import pandas as pd

In [18]:
"""Load data"""
FILEPATH = "../data/winequality-red.csv"
df_red = pd.read_csv(FILEPATH, sep=';')
df_red.insert(0,"type","red")
print(df_red.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   type                  1599 non-null   object
 1   fixed acidity         1599 non-null   float64
 2   volatile acidity      1599 non-null   float64
 3   citric acid           1599 non-null   float64
 4   residual sugar        1599 non-null   float64
 5   chlorides             1599 non-null   float64
 6   free sulfur dioxide   1599 non-null   float64
 7   total sulfur dioxide  1599 non-null   float64
 8   density               1599 non-null   float64
 9   pH                    1599 non-null   float64
 10  sulphates             1599 non-null   float64
 11  alcohol               1599 non-null   float64
 12  quality               1599 non-null   int64
dtypes: float64(11), int64(1), object(1)
memory usage: 162.5+ KB
None

In [19]:
FILEPATH = "../data/winequality-white.csv"
df_white = pd.read_csv(FILEPATH, sep=';')
df_white.insert(0, "type", "white")
print(df_white.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   type                  4898 non-null   object
 1   fixed acidity         4898 non-null   float64
 2   volatile acidity      4898 non-null   float64
 3   citric acid           4898 non-null   float64
 4   residual sugar        4898 non-null   float64
 5   chlorides             4898 non-null   float64
 6   free sulfur dioxide   4898 non-null   float64
 7   total sulfur dioxide  4898 non-null   float64
 8   density               4898 non-null   float64
 9   pH                    4898 non-null   float64
 10  sulphates             4898 non-null   float64
 11  alcohol               4898 non-null   float64
 12  quality               4898 non-null   int64
dtypes: float64(11), int64(1), object(1)
memory usage: 497.6+ KB
None

In [20]:
df = pd.concat([df_red,df_white])
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000
mean,7.215307,0.339666,0.318633,5.443235,0.056034,30.525319,115.744574,0.994697,3.218501,0.531268,10.491801,5.818378
std,1.296434,0.164636,0.145318,4.757804,0.035034,17.749400,56.521855,0.002999,0.160787,0.148806,1.192712,0.873255
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000,5.000000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000,6.000000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000,6.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000

In [21]:
types = df.dtypes
types

type                     object
fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

In [22]:
counts = df.apply(lambda x: x.count())
counts

type                    6497
fixed acidity           6497
volatile acidity        6497
citric acid             6497
residual sugar          6497
chlorides               6497
free sulfur dioxide     6497
total sulfur dioxide    6497
density                 6497
pH                      6497
sulphates               6497
alcohol                 6497
quality                 6497
dtype: int64

In [23]:
nulls = df.apply(lambda x: x.isnull().sum())
nulls

type                    0
fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [24]:
distincts = df.apply(lambda x: x.unique().shape[0])
distincts

type                      2
fixed acidity           106
volatile acidity        187
citric acid              89
residual sugar          316
chlorides               214
free sulfur dioxide     135
total sulfur dioxide    276
density                 998
pH                      108
sulphates               111
alcohol                 111
quality                   7
dtype: int64

In [25]:
df_skew = df.drop("type",axis=1)
skewness = df_skew.skew()
skewness

fixed acidity           1.723290
volatile acidity        1.495097
citric acid             0.471731
residual sugar          1.435404
chlorides               5.399828
free sulfur dioxide     1.220066
total sulfur dioxide   -0.001177
density                 0.503602
pH                      0.386839
sulphates               1.797270
alcohol                 0.565718
quality                 0.189623
dtype: float64

In [26]:
df_kurtosis = df.drop("type",axis=1)
kurtosis = df_kurtosis.kurtosis()
kurtosis

fixed acidity            5.061161
volatile acidity         2.825372
citric acid              2.397239
residual sugar           4.359272
chlorides               50.898051
free sulfur dioxide      7.906238
total sulfur dioxide    -0.371664
density                  6.606067
pH                       0.367657
sulphates                8.653699
alcohol                 -0.531687
quality                  0.232322
dtype: float64

In [27]:
df_corr = df.drop("type",axis=1)
df_corr.corr()["quality"]

fixed acidity          -0.076743
volatile acidity       -0.265699
citric acid             0.085532
residual sugar         -0.036980
chlorides              -0.200666
free sulfur dioxide     0.055463
total sulfur dioxide   -0.041385
density                -0.305858
pH                      0.019506
sulphates               0.038485
alcohol                 0.444319
quality                 1.000000
Name: quality, dtype: float64

In [28]:
dff=pd.concat([types, counts, nulls, distincts, skewness, kurtosis, df_corr.corr()["quality"]], axis=1)
cols = ['types', 'counts', 'nulls', 'distincts', 'skewness', 'kurtosis', 'corr_col']
dff.columns = cols
dff

,types,counts,nulls,distincts,skewness,kurtosis,corr_col
type,object,6497,0,2,NaN,NaN,NaN
fixed acidity,float64,6497,0,106,1.723290,5.061161,-0.076743
volatile acidity,float64,6497,0,187,1.495097,2.825372,-0.265699
citric acid,float64,6497,0,89,0.471731,2.397239,0.085532
residual sugar,float64,6497,0,316,1.435404,4.359272,-0.036980
chlorides,float64,6497,0,214,5.399828,50.898051,-0.200666
free sulfur dioxide,float64,6497,0,135,1.220066,7.906238,0.055463
total sulfur dioxide,float64,6497,0,276,-0.001177,-0.371664,-0.041385
density,float64,6497,0,998,0.503602,6.606067,-0.305858
pH,float64,6497,0,108,0.386839,0.367657,0.019506
sulphates,float64,6497,0,111,1.797270,8.653699,0.038485
alcohol,float64,6497,0,111,0.565718,-0.531687,0.444319
quality,int64,6497,0,7,0.189623,0.232322,1.000000

In [31]:
df.quality.value_counts()

quality
6    2836
5    2138
7    1079
4     216
8     193
3      30
9       5
Name: count, dtype: int64